body {
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #fff;
  background-image: url(./assets/img/banner2.jpg) ;
}

  .circle-container {
    width: 100px; /* Lebar div */
    height: 100px; /* Tinggi div */
    
    border-radius: 50%; /* Membuat div menjadi lingkaran */
    display: flex;
    justify-content: center;
    align-items: center;

    color: gradient; /* Warna teks ikon transparan */
  }

  .loading {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

  





.banner-section {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Ini untuk sidebar */
}

.transparent-bg {
  background-color: transparent; /* Hapus latar belakang transparan jika ada */
  padding: 0; /* Hapus padding jika ada */
}

.transparent-bg > * {
  margin: 10px; /* Atur jarak antara sidebar dan konten utama (sesuaikan sesuai kebutuhan) */
}


.sidebar-card {
  width: 250px; /* Lebar sidebar yang diinginkan */
  height: 100%; /* Agar sidebar menyesuaikan tinggi container */
  float: left; /* Ratakan sidebar ke kiri */
  margin-right: 20px; /* Jarak dari konten utama (sesuaikan sesuai kebutuhan) */
  padding: 10px; /* Padding di dalam sidebar (sesuaikan sesuai kebutuhan) */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Efek bayangan (optional) */
}

.sidebar-content {
  text-align: center; /* Agar konten di tengah sidebar */
}

.profile-image {
  max-width: 100%; /* Agar gambar tidak melebihi lebar sidebar */
}


/* Profile.css */
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* CSS untuk menghilangkan outline pada input */
.form-control:focus {
  outline: none;
  box-shadow: none;
}


.register-page .form-label {
  background-image: linear-gradient(37deg, rgb(180, 62, 121) 1%, rgb(247, 70, 58) 100%) !important;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}
.register-page .title {
  background-image: linear-gradient(37deg, rgb(180, 62, 121) 1%, rgb(247, 70, 58) 100%) !important;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}


.bg-register{
  background: linear-gradient(37deg, rgb(180, 62, 121) 1%, rgb(247, 70, 58) 100%) !important;
  border-radius: 0 5px 5px 0;
}
.login-page .form-label {
  background-image: linear-gradient(37deg, rgb(180, 62, 121) 1%, rgb(247, 70, 58) 100%) !important;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}
.login-page .title {
  background-image: linear-gradient(37deg, rgb(180, 62, 121) 1%, rgb(247, 70, 58) 100%) !important;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}


.bg-login{
  background: linear-gradient(37deg, rgb(180, 62, 121) 1%, rgb(247, 70, 58) 100%) !important;
  border-radius: 0 5px 5px 0;
}

/* Menyesuaikan warna latar belakang Navbar */

.nav-container {
  background: linear-gradient(37deg, rgb(180, 62, 121) 1%, rgb(247, 70, 58) 100%) !important;
}

/* Untuk mengubah warna teks pada Navbar.Brand menjadi putih */
.navbar-brand {
  color: white !important;
}

/* Untuk mengubah warna teks pada NavLink menjadi putih */
.nav-link {
  color: white !important;
}

/* Untuk mengubah warna teks pada NavLink saat dalam keadaan aktif (dalam URL yang cocok) */
.nav-link.active, .nav-link:hover, .nav-link:focus {
  color: #000 !important;
}

/* Untuk mengubah warna teks pada Navbar.Brand saat dalam keadaan aktif (dalam URL yang cocok) */
.navbar-brand.active, .navbar-brand:hover, .navbar-brand:focus {
  color: #000 !important;
}




.nav-container {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}
/* games.css */
.game-container {
  margin-top: 100px;
  height: 80vh;
}



.active-choice {
  background-color: #007bff; /* Warna latar belakang saat tombol aktif dipilih */
  color: #8e2121; /* Warna teks saat tombol aktif dipilih */
}



.vs-text {
  font-size: 24px; /* Sesuaikan ukuran teks sesuai kebutuhan */
  width: 100%; /* Sesuaikan lebar agar sesuai dengan tombol "Paper" */
  text-align: center; /* Pusatkan teks horizontal */
}


/* Button style */
.btn {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 13px 45px;
  border-radius: 35px;
  font-weight: 600;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}
.btn:hover, .btn:active, .btn:focus {
  outline: 0;
  box-shadow: none !important;
  box-shadow: 0px 18px 18px 0px rgba(20, 28, 91, 0.19);
}

.btn-lg {
  font-size: 20px;
  padding: 20px 90px;
}
.btn.active-choice {
  background: linear-gradient(37deg, rgb(180, 62, 121) 1%, rgb(247, 70, 58) 100%) !important;
  color: #000;
  border: 0;
  box-shadow: 0px 18px 18px 0px rgba(20, 28, 91, 0.19);
}

.btn-primary {
  background: linear-gradient(37deg, rgb(180, 62, 121) 1%, rgb(247, 70, 58) 100%);
  color: #fff;
  border: 0;
}
.btn-primary:active, .btn-primary:hover, .btn-primary.focus, .btn-primary.active {
  background: linear-gradient(37deg, rgb(180, 62, 121) 1%, rgb(247, 70, 58) 100%) !important;
  color: #000;
  border: 0;
}

/* Sidebar CSS */
.sidebar-card {
  width: 250px;
  height: 100%; /* Agar sidebar menyesuaikan tinggi container */
  float: left; /* Ratakan sidebar ke kiri */
  margin-right: 20px; /* Jarak dari konten utama (sesuaikan sesuai kebutuhan) */
  padding: 10px; /* Padding di dalam sidebar (sesuaikan sesuai kebutuhan) */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Efek bayangan (optional) */
}

.sidebar-content {
  text-align: center; /* Agar konten di tengah sidebar */
}

.profile-image {
  max-width: 100%; /* Agar gambar tidak melebihi lebar sidebar */
  border-radius: 50%;
}

/* CSS untuk layar berukuran lebih kecil (misalnya perangkat seluler) */

@media (max-width: 768px) {
  .nav-container {
    padding-left: 1rem; /* Ubah sesuai kebutuhan Anda */
    padding-right: 1rem; /* Ubah sesuai kebutuhan Anda */
  }
}
@media (max-width: 645px) {
  .nav-container {
    padding-left: 2px; /* Ubah sesuai kebutuhan Anda */
    padding-right: 2px; /* Ubah sesuai kebutuhan Anda */
  }

  .navbar-brand {
    font-size: 20px;
  }
}
@media (max-width: 616px) {
  .nav-container {
    padding-left: 1px; /* Ubah sesuai kebutuhan Anda */
    padding-right: 1px; /* Ubah sesuai kebutuhan Anda */
  }
/* Mengubah ukuran ikon toggle dan border-nya */
/* Mengubah ukuran dan border navbar-toggler-collapse */
}




